body {
  font-family: Helvetica;
  margin: 0;
  background-color: rgb(245, 197, 135);
}
.poster_left {
    float: left;
    height: 15em;
    padding-right: 10px;
    padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
.site-header { 
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
  background-color: rgb(254, 160, 0);
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}

.site-identity img {
  max-width: 6em;
  float: left;
  margin: 0 10px 0 0;
}

.site-navigation {
  float: right;
}

.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

.site-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(254, 160, 0);
  display: flex; 
  align-items: center; 
  justify-content: center;
}

td {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.social-icons{
  text-align: center;
}

.social-icons li {
  display: inline-block;
  list-style-type: none;

}

.social-icons li img{
  width: 3em;
  height: 3em;
  margin-right: 10px;
  margin-bottom: 100px;
}

.wrapper{
  padding: 50px;
}
